.topNavBar {
    height: 55px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1a2933;
}

.left-items {
    display: flex;
}

.right-items {
    display: flex;
}

.logo {
    width: 38px;
    height: 36px;
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 0;
    padding-right: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 0;
}

.nav-links li {
    padding-right: 15px;
    padding-top: 19px;
    padding-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 10;
}

.nav-links li:hover {
    background-color: #00bd75;
    cursor: pointer;
}

.custom-caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(255, 255, 255);
    padding-bottom: 2px;
}

.search-form {}

.search-input {
    margin-top: 13px;
    padding-left: 15px;
    padding-right: 35px;
    border-radius: 30px;
    border: 2px solid;
    border-color: transparent;
    height: 30px;
    width: 120px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgb(19, 164, 106);
}

.search-button {
    position: relative;
    bottom: 0px;
    top: 2px;
    right: 35px;
    border-radius: 30px;
    border-color: transparent;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.search-button:hover {
    background-color: #ccc;
    cursor: pointer;
}

.search-button-img {
    width: 20px;
    height: 20px;
}

.button-spaces {
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 10px;
    background-color: transparent;
    border-color: transparent;
}

.button-spaces:hover {
    background-color: #51515191;
}

.spaces-icon {
    width: 20px;
    height: 20px;
}

/*-------------------------------------------------------  SUBJECT BAR  ----------------------------------------------------------*/

.topSubjectBar {
    height: 35px;
    background-color: #262529;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.topSubjectBar li {}

.topSubjectBar li:hover {
    background-color: #000000;
    cursor: pointer;
}

.topSubjectBar li a {
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #ccc;
}