.popup {}

.popup-hidden {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 50vh;
    width: 50vh;
    background-color: rgb(84, 166, 139);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    border-radius: 10%;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.popup-fade-in {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 50vh;
    width: 50vh;
    background-color: rgb(84, 166, 139);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    border-radius: 10%;
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.popup-fade-out {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 50vh;
    width: 50vh;
    background-color: rgb(84, 166, 139);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    border-radius: 10%;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.popup-exit-button {
    height: 5vh;
    width: 8vh;
    font-size: large;
}